body {
    background-color: #94B4C1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}



.box {
    height: 18vmin;
    width: 18vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 8vmin;
    color: #B22222;
    

}

